# gradle


*~
\#*



.gradle/
build/
out/
classes/

/common/bin/
/fabric/bin/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
logs/

.architectury-transformer/